body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Do Hyeon", sans-serif;
}

.calc {
  width: 40%;
  margin: 50px auto;
  height: 650px;
  background-color: lightcoral;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.solar {
  flex-basis: 25%;
  padding: 2em auto 1em 2em;
  margin: 2em auto 1em 2em;
  height: 40px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.display {
  flex-basis: 90%;
  height: 100px;
  margin: 0 5% 20px;
  background-color: dimgray;
  border-radius: 10px;
  font-size: 2.2em;
  text-align: right;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
  margin: 0;
  margin: 0.5em 5px 0 auto;
}

.buttons {
  width: 90%;
  margin: 0 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.spec {
  background-color: mediumaquamarine;
}

button {
  flex-basis: 18%;
  font-size: 1.2em;
  margin: 2.5%;
  height: 40px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.long {
  flex-basis: 40%;
}
